body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 320px;
  height: 420px;
  background:#CAFFD0;
  color:black;
  margin:0 auto;
  margin-top:40px;
  padding: 30px 30px;
  border-radius: 40px;
}

h1 {
  margin:0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 2em;
}

.container label {
  margin:0;
  padding:0;
  font-weight: bold;
}

.container input {
  width: 100%;
  margin-bottom: 20px;
}

.container input[type="text"], input[type="password"] {
  border:none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px;
}
      
.container input[type="button"]{
  border: none;
  outline: none;
  height: 40px;
  background:white;
  color: black;
  font-size: 18px;
  border-radius: 20px;
}

.container input[type="button"]:hover{
  cursor: pointer;
  background:#C3A995;
  color:#000;
}

.container a{
  text-decoration: none;
  line-height: 20px;
  color: black;
}

.container a:hover{
  color: #C3A995;
}

.container p{
  font-size:.8em;
}