        body {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/lake.jpg") no-repeat center center fixed; /* image credit: https://commons.wikimedia.org/wiki/User:Isruma */
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-size:12pt;
	    font-family: 'Poppins', sans-serif;
        }
        a {
            color:#CAFFD0;
        }
	hr {
	    border-color:white;
	}
        a:hover {
            color:#C3A995;
            text-decoration:none;
            
        }
        #navbar{
            background-color:green;
            width:100%;
            height:96px;
        }
        #container{
            margin-left:auto;
            margin-right:auto;
            position:center;
            margin-top:20px;
            margin-bottom:30px;
            width:94%;
            color:white;
			text-shadow:black 2px 2px 2px;
        }
        .divImg {
            width:90%;
            height:auto;
            margin-top:8px;
            border:solid black 2px;
        }
        .activityTitle {
            font-size:18pt;
            font-weight:550;
            margin-bottom:10px;
            color:#CAFFD0;
            white-space: nowrap;
            overflow: hidden;

        }
        .activityTitle:hover {
            white-space:normal;
            overflow:wrap;
        }

        .activityDate {
            font-size:12pt;
            margin-top:10px;
            margin-bottom:14px;
        }

        .line{
            display:none;
            padding:0;
        }
        .credit{
            font-size:8pt;
        }

        /* Button code copied from https://1stwebdesigner.com/free-code-snippets-css-buttons/ */

        .button{
        display: inline-block;
        *display: inline;
        zoom: 1;
        width:100px;
        height:55px;
        padding: 6px 20px;
        margin: 0;
        margin-top:4px;
        cursor: pointer;
        border: 1px solid #bbb;
        overflow: visible;
        font: bold 13px arial, helvetica, sans-serif;
        text-decoration: none;
        white-space: nowrap;
        color: #555;
        float: right;
        
        background-color: #ddd;
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
        background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
        background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
        background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
        background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
        
        -webkit-transition: background-color .2s ease-out;
        -moz-transition: background-color .2s ease-out;
        -ms-transition: background-color .2s ease-out;
        -o-transition: background-color .2s ease-out;
        transition: background-color .2s ease-out;
        background-clip: padding-box; /* Fix bleeding */
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
        box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
        text-shadow: 0 1px 0 rgba(255,255,255, .9);
        
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        }

        .button:hover{
        background-color: #eee;
        color: #555;
        }


        .button.green {
        color: #fff;
        text-shadow: 0 1px 0 rgba(0,0,0,.2);
        
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
        }

        .button.green{
        background-color: #57a957;
        border-color: #57a957;
        }

        .button.green:hover{
        background-color: #62c462;
        }

        .button.green:active{
        background: #57a957;
        }
        .green[disabled], .green[disabled]:hover, .green[disabled]:active{
        border-color: #57A957;
        background: #57A957;
        color: #D2FFD2;
        }

        /* End of copied button code */

        #map {
            height: 360px;
            text-shadow:none;
            border:white solid 2px;
        }

        @media (max-width: 767.5px) {
            .line{
                display:grid;
                width:90%;
                position:center;
            }
            .activityTitle {
                white-space:normal;
                overflow:wrap;
                text-overflow:none;
            }
            #button{
                margin-top:8px;
            }
        }
.newUser {
  display: block;
}
.oldUser {
  display: none;
} 